<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">New Articles</a></li>
    </ul>
    <button class="button btn-success" id="get-news">Get News</button>
</nav>
<div class="jumbotron">
  <h1 class="display-4">Get Your News</h1>
  <p class="lead">Get news aggregated from the New York Times, Y and Z.</p>
  <hr class="my-4">
  <p class="lead">
    <button class="button btn-success" id="get-news">Get News</button>
  </p>
</div>
<div class="row">
    <div class="col">
    </div>
</div>
